
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial
}

body {
    background: #f7f9fc;
    padding: 20px;
}


.head-box {
    background:#530782;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}


.sec-box {
    background: white;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    

    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


ul {
    list-style: none;
    padding-left: 0;
}


ul li {
    margin-bottom: 10px;
}

button {
    padding: 12px 15px;
    border: none;
    background: #1d012f;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    
}

button:hover {
    background:#1d012f;
}


#profile {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
   
}

#profile ul {
    padding-left: 20px;
}


@media (max-width: 600px) {
    .sec-box, #profile {
        width: 95%;
    }

    button {
        width: 100%;
    }
}
